.component_btn-variant {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 300;
  display: block;
  border-radius: 0;

  &.no-show {
      display: none;
  }
}

.component_btn {
  color: white;
  border-radius: 0;
}

.component_btn-variant-close {
    border-radius: 0;
}