.component_field-select{
    border: 1px solid $grey-middle;
    background-color: $grey-lite;
    border-radius: 0;
    padding: .7rem;
}

.component_filed-qty {
    width: 70px;
    margin: 2px;
    height: 38px;
    border-radius: 0;
    border: 1px solid $grey-middle;
    background-color: $grey-lite;
}