@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "colors/colors";

$theme-colors: (
  "primary": $primary,
);

@import "~bootstrap/scss/bootstrap";

@import "components/card";
@import "components/field";
@import "components/button";
@import "configs/text";
@import "components/loading";

.no-expand {
  display: none;
}

.expand {
  display: block;
}

.carousel-indicators {
  li.active {
    background-color: $primary;
  }
}